@font-face {
  font-family: "Karla";
  font-style: normal;
  src: url("assets/fonts/karla/Karla-VariableFont_wght.ttf");
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "Fira Code";
  font-style: normal;
  src: url("assets/fonts/fira_code/FiraCode-VariableFont_wght.ttf");
  font-weight: 100 900;
  font-display: swap;
}

:root {
  --section-width: 1440px;

  /* Farben */
  --color-dark: #1c1c1c;
  --color-dark-green: rgba(8, 70, 59, 1);
  --color-light-gray: rgb(217, 217, 217);

  --color-white-12: rgba(255, 255, 255, 0.12);
  --color-white-50: rgba(255, 255, 255, 0.5);
  --color-white-70: rgba(255, 255, 255, 0.7);
  --color-white-100: rgba(255, 255, 255, 1);
  --transparent: rgba(0, 0, 0, 0);
  --color-black-60: rgba(0, 0, 0, 0.6);
  --color-black-90: rgba(0, 0, 0, 0.9);
  --color-black-100: rgba(0, 0, 0, 1);
  --color-teal-10: rgba(61, 207, 182, 0.1);
  --color-teal-30: rgba(61, 207, 182, 0.3);
  --color-teal-100: rgba(61, 207, 182, 1);
  --color-dark-35: rgba(28, 28, 28, 0.35);
  --color-dark-100: rgba(28, 28, 28, 1);
  --color-dark-green-30: rgba(8, 70, 59, 0.3);
  --color-dark-gray: rgb(61, 61, 61);
}

* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  background-color: var(--color-dark-100);
  scroll-padding-top: 50px;
  scrollbar-gutter: stable;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--color-dark-100);
}

::-webkit-scrollbar-thumb {
  background: var(--color-teal-100);
  border-radius: 20px;
}

body {
  background-color: var(--color-dark-100);
  color: var(--color-white-100);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Fira Code";

  overflow-x: hidden;

  gap: 96px;

  hyphens: auto;
}

main {
  flex: 1;
}

section {
  max-width: var(--section-width);
  width: 100%;
  padding: 0 96px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

h1 {
  font-family: "Karla";
  font-size: 8rem;
  font-weight: 700;
  line-height: 1.1;
  margin: 0;
}

h2 {
  font-family: "Fira Code";
  font-size: 4rem;
  letter-spacing: -0.02em;
  line-height: 1;
  margin: 0;
}

h3 {
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 1.3;
  margin: 0;
}

h4 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.2;
  margin: 0;
}

p {
  font-size: 1rem;
  line-height: 1.2;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--color-white-100);
}

a:hover {
  cursor: pointer;
}

ul {
  padding: 0;
}

.karla-font {
  font-family: "Karla";
}

.fira-font {
  font-family: "Fira Code";
}

.button {
  background-color: transparent;
  color: var(--color-light-gray);
  font-size: 18px;

  text-align: center;
}

.button:hover {
  cursor: pointer;
}

.section-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
}

.text-border-container {
  display: flex;
  flex-direction: column;

  border: 1px solid #d9d9d9;
  background-color: #3dcfb61a;
  border-radius: 30px;
  padding: 30px;
  gap: 40px;
}

p.font-bold {
  font-weight: bold;
}

.text-side-by-side {
  display: flex;
  justify-content: space-between;
  padding: 32px;
}
