@font-face {
  font-family: "Karla";
  font-style: normal;
  src: url("assets/fonts/karla/Karla-VariableFont_wght.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Fira Code";
  font-style: normal;
  src: url("assets/fonts/fira_code/FiraCode-VariableFont_wght.ttf");
  font-display: swap;
}

:root {
  --section-width: 1440px;
}

* {
  margin: 0;
  box-sizing: border-box;
  color: #ffffff;
}

body {
  background-color: #1c1c1c;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Fira Code";
}

section {
  max-width: var(--section-width);
  width: 100%;

  padding: clamp(48px, 6vw, 112px);
}

h1 {
  font-family: "Karla";
  font-size: clamp(2.5rem, 7vw, 8rem);
  font-weight: 700;
  line-height: 1.1;
}

h2 {
  font-family: "Fira Code";
  font-size: clamp(1.8rem, 3.5vw, 3rem);
  font-weight: bold;
  letter-spacing: -0.02em;
  line-height: 1.2;
}

h3 {
  font-size: clamp(1.25rem, 2vw, 1.75rem);
  font-weight: 600;
  line-height: 1.3;
}

h4 {
  font-size: clamp(1.1rem, 1.5vw, 1.25rem);
  font-weight: 600;
  line-height: 1.4;
}

p {
  font-size: clamp(1rem, 1.1vw, 1.125rem);
  line-height: 1.2;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

ul {
  padding: 0;
}

button {
  background-color: transparent;
  color: #d9d9d9;
  font-size: 18px;
  padding: 12px;
  border: 1px solid #ffffff;
  border-radius: 24px;
}

button:hover {
  cursor: pointer;
  background-color: rgb(255, 255, 255, 0.2);
}

.home-section-background {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(45deg, #1c1c1c, #08463b);
}

.home-section {
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-title {
  font-family: "Fira Code";
  font-size: clamp(1.5rem, 3vw, 3rem);
}

.title-buttons-container {
  display: flex;
  width: 363px;
  gap: 48px;
  padding-top: 40px;
}

.home-button {
  width: 172px;
}

.navbar {
  font-family: "Fira Code";
  font-size: 20px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
  position: absolute;
  max-width: var(--section-width);
  width: 100%;
  height: 96px;
  padding: 0 96px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 500px;
  text-decoration: none;
  list-style: none;
}

.nav-links a:hover,
footer a:hover {
  color: #3dcfb6;
}

.navbar-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 32px;
}

.navbar-firstname {
  margin-bottom: -8px;
}

.navbar-lastname {
  margin-top: -8px;
}

.info-strip {
  transform: rotate(-3deg);
  position: absolute;
  bottom: 32px;

  padding: 12px 32px;

  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.12);

  overflow: hidden;
  width: 100%;
}

.info-track {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.info-track svg {
  flex-shrink: 0;
  display: block;
}

.info-item {
  flex-shrink: 0;
}

.aboutme-section {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.aboutme-part {
  height: auto;
  max-height: 568px;
  border-radius: 30px;
  padding: 30px;
}

.aboutme-image-container {
  align-self: flex-start;
  justify-self: flex-start;
  border: 1px solid #d9d9d9;
  width: clamp(300px, 50vw, 600px);
}

.aboutme-text-container {
  width: clamp(300px, 50vw, 600px);
  margin-top: 112px;
}

.skills-section-background {
  width: 100vw;
  display: flex;
  justify-content: center;
  background-image: radial-gradient(circle at 0%, rgba(8, 70, 59, 0.3), rgba(28, 28, 28, 1));
}

.skills-section {
  display: flex;
  justify-content: center;
  gap: 64px;
}

.skillset-container {
  flex: 2;
  max-width: 960px;
}

.skill-badges-container {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.skill-item {
  display: flex;
  align-items: center;
  gap: 18px;

  padding: 10px 14px;
}

.text-border-container {
  display: flex;
  flex-direction: column;

  border: 1px solid #d9d9d9;
  background-color: #3dcfb61a;
  border-radius: 30px;
  padding: 30px;
}

.textcontainer-intro {
  position: relative;
  top: -60px;
}

.projects-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  min-height: 565px;
  gap: 32px;
}

.projects-list-container {
  display: flex;
  justify-content: center;
  gap: 41px;
  padding-top: 32px;
}

.project-info-container {
  flex: 1;
  display: flex;
}

.project-description {
  width: 60%;
  padding-top: 32px;
}

.project-list {
  flex: 2;
  list-style: none;
  padding: 12px 0;
}

.project-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 880px;
  padding: 40px 32px;
  border-top: 1px solid #d9d9d9;
}

.project-list .project-item:last-child {
  border-bottom: 1px solid #d9d9d9;
}

.project-item:hover {
  background-color: rgba(255, 255, 255, 0.12);
  cursor: pointer;
}

.project-info-container {
  display: flex;
  justify-content: center;
}

.project-image {
  position: relative;
  display: inline-block;
}

.project-image img {
  width: 295px;
  border-radius: 16px;
}

.project-image::after {
  border-radius: 16px;

  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  width: 100%;
  height: 100%;
  z-index: -1;

  background: repeating-linear-gradient(135deg, white 0 1px, transparent 0px 10px);
}

.project-1 {
  align-self: flex-start;
}

.project-2 {
  align-self: center;
}

.project-3 {
  align-self: flex-end;
}

.project-name {
  font-weight: bold;
  font-size: 1.25rem;
}

.contact-section {
  display: flex;
  gap: 96px;
}

.contact-left-part {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.contact-right-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-left-part,
.contact-right-part {
  flex: 1;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-form > div {
  border-top: 1px solid #d9d9d9;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-form input,
textarea {
  font-size: 18px;
  background-color: transparent;
  border: none;
  border-radius: 8px;
}

.contact-form textarea {
}

.contact-form input:hover,
textarea:hover {
  cursor: text;
  background-color: rgba(255, 255, 255, 0.12);
  border-radius: 8px;
}

.contact-form input[type="checkbox"]:hover {
  cursor: pointer;
}

.send-button {
  align-self: center;
}

p.font-bold {
  font-weight: bold;
}

.text-side-by-side {
  display: flex;
  justify-content: space-between;
  padding: 32px;
}

footer {
  max-width: var(--section-width);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 96px;
}

footer ul {
  list-style: none;
}

nav li,
footer li {
  position: relative;
}

nav li::after,
footer li::after {
  font-size: 24px;
  content: "•";
  position: absolute;

  opacity: 0;
  transition: opacity 0.3s;
}

nav li:hover::after,
footer li:hover::after {
  opacity: 1;
}

nav li::after {
  left: 50%;
  bottom: -24px;
  transform: translateX(-50%);
}

footer li::after {
  left: -16px;
  top: 50%;
  transform: translateY(-50%);
}
