.aboutme-section-content {
  display: flex;
  justify-content: space-between;
  gap: 96px;
}

.aboutme-image-container {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.aboutme-image-container img {
  display: block;
  width: min(100%, 368px);
  height: auto;
  border-radius: 30px;
}

.aboutme-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;

  margin-top: 112px;
}

.aboutme-text-container {
  width: 100%;
  max-width: 568px;
}

.aboutme-bulletpoints-list {
  list-style: none;
}

.aboutme-bulletpoints-list svg {
  color: var(--color-teal-100);
}

.aboutme-bulletpoints-text {
  color: var(--color-white-80);
}

.aboutme-text-container ul li {
  display: flex;
  gap: 24px;
}
