.aboutme-section-content {
  display: flex;
  justify-content: space-between;
  gap: clamp(16px, calc(-13.714px + 7.619vw), 96px);
}

.aboutme-image-container {
  flex: 1;
  height: auto;
  max-height: 708px;
}

.aboutme-image-container img {
  max-width: 568px;
  width: 100%;
  max-height: 568px;
  height: 100%;
  object-fit: cover;
  border: 1px solid var(--color-light-gray);
  border-radius: 30px;
}

.aboutme-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;

  margin-top: 112px;
}

.aboutme-text-container {
  flex: 1;
  width: 100%;
  max-width: 568px;
}

.aboutme-text-container ul {
  list-style: none;
}

.aboutme-text-container ul li {
  display: flex;
  gap: 24px;
}
