.aboutme-section-content {
  display: flex;
  justify-content: space-between;
  gap: clamp(16px, calc(-13.714px + 7.619vw), 96px);
}

.aboutme-image-container {
  flex: 1;
  align-self: flex-start;
  justify-self: flex-start;
  height: auto;
  max-height: 708px;
}

.aboutme-image-container img {
  max-width: 568px;
  width: 100%;
  max-height: 568px;
  height: 100%;
  object-fit: cover;
  border: 1px solid #d9d9d9;
  border-radius: 30px;
}

.aboutme-text-container {
  flex: 1;
  width: 100%;
  max-width: 568px;
  margin-top: 112px;
}
