h1,
h2,
h3,
p {
  hyphens: auto;
}

.body-legal-privacy {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(
    55.22deg,
    var(--color-dark-100) 36.26%,
    var(--color-dark-green) 93.28%
  );
}

.footer {
  margin-top: auto;
}

section ul {
  padding: 16px;
}

.legal-notice-section {
  max-width: 1248px;
  width: 100%;
  padding: 149px 96px;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  font-family: "Karla";
}

.legal-notice-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.legal-notice-content a {
  text-decoration: underline;
}

.legal-notice-content a {
  text-decoration: underline;
  color: var(--color-teal-100);
}

.imprint-privacy-policy-link {
  color: var(--color-teal-100);
  text-decoration: underline;
}

.imprint-privacy-policy-link:hover {
  cursor: pointer;
  color: var(--color-white-100);
}
