h1,
h2,
h3,
p {
  hyphens: auto;
}

section ul {
  padding: 16px;
}

.back-button {
  margin-bottom: 32px;
  padding: 12px 24px;
  border: 1px solid var(--color-white-100);
  border-radius: 24px;
}

.back-button:hover {
  color: var(--color-white-50);
  border: 1px solid var(--color-white-50);
}
