footer {
  max-width: var(--section-width);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 96px;
}

footer ul {
  list-style: none;
}

nav li,
footer li {
  position: relative;
}

nav li::after,
footer li::after {
  font-size: 24px;
  content: "•";
  position: absolute;

  opacity: 0;
  transition: opacity 0.3s;
}

nav li:hover::after,
footer li:hover::after {
  opacity: 1;
}

nav li::after {
  left: 50%;
  bottom: -24px;
  transform: translateX(-50%);
}

footer li::after {
  left: -16px;
  top: 50%;
  transform: translateY(-50%);
}
