@media (min-width: 1440px) {
  .info-strip {
    bottom: clamp(40px, calc(-292.308px + 23.077vw), 400px);
  }
}
@media (max-width: 1024px) {
  .project-list {
    width: clamp(280px, 90vw, 720px);
  }
  .project-item {
    padding: 32px 0;
  }

  .project-info-container {
    display: none;
  }

  .aboutme-section,
  .skills-section,
  .contact-section {
    flex-direction: column;
    gap: 77px;
  }

  .aboutme-text-container {
    margin-top: 0;
    align-self: flex-end;
  }

  .quote-icon {
    top: -12px;
    left: 0;
  }

  .quote-icon svg {
    width: 67px;
    height: 48px;
  }
}

@media (max-width: 700px) {
  .aboutme-section {
    align-items: center;
  }

  .aboutme-image-container,
  .aboutme-text-container {
    justify-self: unset;
    align-self: unset;
  }
}

@media (max-width: 600px) {
  .project-item {
    flex-direction: column;
  }
}
