@media (min-width: 1440px) {
  .info-strip {
    bottom: clamp(40px, calc(-292.308px + 23.077vw), 400px);
  }
}
@media (max-width: 1024px) {
  .project-list {
    width: clamp(280px, 90vw, 720px);
  }
  .project-item {
    padding: 32px 0;
  }

  .project-info-container {
    display: none;
  }

  .aboutme-section,
  .skills-section,
  .contact-section {
    flex-direction: column;
    gap: 77px;
  }

  .aboutme-text-container {
    margin-top: 0;
    align-self: flex-end;
  }

  .quote-icon {
    top: -12px;
    left: 0;
  }

  .quote-icon svg {
    width: 67px;
    height: 48px;
  }
}

@media (max-width: 750px) {
  footer {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "left right" "center center";
    row-gap: 32px;
  }

  .footer-info {
    grid-area: left;
  }

  .footer-copy {
    grid-area: center;
  }

  .social-links {
    grid-area: right;
  }
}

@media (max-width: 700px) {
  .aboutme-section {
    align-items: center;
  }

  .aboutme-image-container,
  .aboutme-text-container {
    justify-self: unset;
    align-self: unset;
  }
}

@media (max-width: 600px) {
  .project-item {
    flex-direction: column;
  }
}

@media (max-width: 390px) {
  .title-buttons-container {
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .text-border-container {
    padding: 8px;
    border-radius: 16px;
  }

  .textcontainer-intro {
    top: -40px;
  }

  .contact-left-part h2,
  .projects-head h2,
  .text-border-container h2 {
    font-size: 36px;
  }

  .skill-badges-container {
    gap: 12px;
  }

  .skill-item svg {
    width: 50%;
  }

  .project-description {
    max-width: 100%;
  }

  .recommendation-card {
    max-width: 95%;
  }

  .contact-form > div {
    padding: 32px 8px;
  }

  .validation-message {
    font-size: 10px;
    max-width: 60%;
    bottom: 5px;
  }

  .contact-form input:not([type="checkbox"]),
  .contact-form textarea {
    font-size: 14px;
  }
}
