.skills-section-background {
  width: 100%;
  display: flex;
  justify-content: center;
  background: radial-gradient(
    22.43% 43.85% at 1.22% 52.45%,
    var(--color-dark-green-30) 0%,
    var(--color-dark-100) 100%
  );
}

.skills-section-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.skillset-container {
  max-width: 520px;
  width: 100%;
}

.skill-badges-container {
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
  gap: clamp(40px, calc(28.114px + 3.048vw), 72px);
}

.skill-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  max-width: 50%;
  width: 104px;
  height: 116px;
  overflow: visible;

  padding: 10px 14px;
}

.skill-item svg {
  transition: transform 0.3s ease;
}

.skill-item svg:hover {
  scale: 1.1;
}

.skill-item p {
  text-align: center;
  white-space: nowrap;
}
